/* line 5, ../sass/_main.scss */
html {
  overflow-x: hidden;
  background: #88bbd6;
}

/* line 11, ../sass/_main.scss */
body {
  height: 100%;
}

/* line 15, ../sass/_main.scss */
select {
  color: #000;
}

/* line 19, ../sass/_main.scss */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #77aac5;
}

/* line 22, ../sass/_main.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #77aac5;
  opacity: 1;
}

/* line 26, ../sass/_main.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #77aac5;
  opacity: 1;
}

/* line 30, ../sass/_main.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #77aac5;
}

/* line 34, ../sass/_main.scss */
.circle_button {
  right: 50px;
  bottom: 50px;
  position: fixed;
  z-index: 1;
  font-size: 64px !important;
  cursor: pointer;
  color: #6e7376;
}

/* line 47, ../sass/_main.scss */
#add_wrap {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
}

/* line 55, ../sass/_main.scss */
#add_wrap > div {
  overflow-y: scroll;
  height: 80%;
  min-height: 600px;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: auto;
  padding: 30px;
  background: #88bbd6;
  box-shadow: 0 0 10px #555;
}

/* line 70, ../sass/_main.scss */
#add_wrap label {
  color: #e9e9e9;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

/* line 76, ../sass/_main.scss */
#add_wrap input, #add_wrap textarea, #add_select {
  display: block;
  width: 90%;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #e9e9e9;
  border: 3px solid #e9e9e9;
  border-radius: 1px;
  outline: none;
  background: none;
}

/* line 92, ../sass/_main.scss */
#add_wrap textarea {
  height: 100px;
  resize: none;
  font-size: 18px;
}

/* line 99, ../sass/_main.scss */
#add_submit {
  width: 80%;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  border: 3px solid #e9e9e9;
  color: #e9e9e9;
  background: #88bbd6;
}

/* line 111, ../sass/_main.scss */
#add_submit:hover {
  border: none;
  border-top: 1px solid #88bbd6;
  color: #88bbd6;
  background: #e9e9e9;
}

/* line 118, ../sass/_main.scss */
#add_exit {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 64px;
  cursor: pointer;
  color: #e9e9e9;
}

/* line 130, ../sass/_main.scss */
nav {
  height: 50px;
  width: 100%;
  display: table;
  table-layout: fixed;
  font-family: "Open Sans", sans-serif;
}

/* line 139, ../sass/_main.scss */
nav div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #88bbd6;
  background: #4a8dac;
}

/* line 151, ../sass/_main.scss */
nav div:hover {
  color: #e9e9e9;
  background: #88bbd6;
}

/* line 156, ../sass/_main.scss */
.nav_icon {
  display: none !important;
}

@media only screen and (max-width: 959px) {
  /* line 161, ../sass/_main.scss */
  .nav_text {
    display: none;
  }

  /* line 165, ../sass/_main.scss */
  .nav_icon {
    display: block !important;
  }
}
/* line 170, ../sass/_main.scss */
.nav_active {
  color: #e9e9e9;
  background: #88bbd6;
}

/* line 176, ../sass/_main.scss */
#main {
  width: 100%;
  background: #88bbd6;
}

/* line 182, ../sass/_main.scss */
#main ul li {
  height: 100px;
  padding: 20px;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  color: #e9e9e9;
}

/* line 194, ../sass/_main.scss */
#main ul li:hover {
  background: #4a8dac;
}

/* line 198, ../sass/_main.scss */
#announcement, #meeting, #user {
  display: none;
}

/* line 202, ../sass/_main.scss */
.remove_post {
  height: 100%;
  top: 0;
  right: 2%;
  position: absolute;
  font-size: 18px;
  cursor: pointer;
  color: #e9e9e9;
  border: none;
  background: none;
}

/* line 216, ../sass/_main.scss */
.remove_post i:hover {
  color: #ff4c4c;
}

/* line 221, ../sass/_main.scss */
#outer_wrap {
  min-height: 100%;
  position: relative;
  right: 0;
  transition: all 0.3s ease-out 0s;
}

/* line 229, ../sass/_main.scss */
#msg_info {
  width: 100%;
  height: 100%;
  left: 100%;
  position: absolute;
  color: #e9e9e9;
  transition: all 0.3s ease-out 0s;
}

/* line 240, ../sass/_main.scss */
#msg_info_wrap {
  padding: 30px;
}

/* line 244, ../sass/_main.scss */
#msg_info_return {
  display: none;
}

/* line 249, ../sass/_main.scss */
#comment {
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}

/* line 255, ../sass/_main.scss */
#comment li {
  height: 75px;
  padding: 10px;
  border-top: 1px solid #e9e9e9;
  position: relative;
  font-family: "Raleway", sans-serif;
  color: #e9e9e9;
}

/* line 266, ../sass/_main.scss */
#msg_info label {
  color: #e9e9e9;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

/* line 272, ../sass/_main.scss */
#comment_text {
  display: block;
  width: 90%;
  height: 100px;
  padding: 10px;
  margin: auto;
  font-size: 18px;
  color: #e9e9e9;
  border: 3px solid #e9e9e9;
  border-radius: 1px;
  outline: none;
  background: none;
  resize: none;
}

/* line 289, ../sass/_main.scss */
#comment_submit {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  display: block;
  font-size: 24px;
  cursor: pointer;
  border: 3px solid #e9e9e9;
  color: #e9e9e9;
  background: #88bbd6;
}

/* line 305, ../sass/_main.scss */
#comment_submit:hover {
  border: none;
  border-top: 1px solid #88bbd6;
  color: #88bbd6;
  background: #e9e9e9;
}

/* line 313, ../sass/_main.scss */
.select2-selection {
  border: none;
}

/* line 317, ../sass/_main.scss */
.select2-selection--multiple {
  width: 90%;
  background: none !important;
  border: 3px solid #e9e9e9 !important;
  border-radius: 1px;
}

/* line 325, ../sass/_main.scss */
.select2-search__field {
  color: #main_accent !important;
}

/* line 1, ../sass/_user.scss */
#logo {
  display: table;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px 0;
  font-size: 96px;
  color: #e9e9e9;
}

/* line 12, ../sass/_user.scss */
.user_input {
  height: 50px;
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #e9e9e9;
  border: 3px solid #e9e9e9;
  background: none;
  outline: none;
}

/* line 29, ../sass/_user.scss */
#login {
  height: 50px;
  width: 30%;
  display: block;
  margin: auto;
  padding: 0 10px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  color: #e9e9e9;
  border: none;
  border-top: 3px solid #e9e9e9;
  border-bottom: 3px solid #e9e9e9;
  background: none;
}

/* line 48, ../sass/_user.scss */
#login:hover {
  background: #4a8dac;
}

/* line 52, ../sass/_user.scss */
#mentor_wrap {
  margin: auto;
  margin-bottom: 20px;
  display: table;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #e9e9e9;
}

/* line 63, ../sass/_user.scss */
#mentor_wrap h3 {
  display: inline-block;
  margin-right: 10px;
}

/* line 68, ../sass/_user.scss */
#mentor_wrap input {
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}

/* line 6, ../sass/index.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 11, ../sass/index.scss */
body {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 19, ../sass/index.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 25, ../sass/index.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* line 30, ../sass/index.scss */
h1 {
  font-size: 32px;
}

/* line 34, ../sass/index.scss */
h2 {
  font-size: 24px;
}

/* line 38, ../sass/index.scss */
h3 {
  font-size: 18px;
}

/* line 42, ../sass/index.scss */
h4 {
  font-size: 15px;
}

/* line 46, ../sass/index.scss */
h5 {
  font-size: 13px;
}

/* line 50, ../sass/index.scss */
h6 {
  font-size: 10px;
}

/* line 54, ../sass/index.scss */
input, textarea, select {
  margin: 0;
  padding: 0;
}

/* line 59, ../sass/index.scss */
div, button {
  outline: none;
}
