/* line 11, ../sass/_main.scss */
html {
  overflow-x: hidden;
  background: #88bbd6;
}

/* line 17, ../sass/_main.scss */
body {
  height: 100%;
}

/* line 21, ../sass/_main.scss */
select {
  color: #000;
}

/* line 25, ../sass/_main.scss */
.circle_button {
  right: 50px;
  bottom: 50px;
  position: fixed;
  z-index: 1;
  font-size: 64px !important;
  cursor: pointer;
  color: #6e7376;
}

/* line 38, ../sass/_main.scss */
#add_wrap {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
}

/* line 46, ../sass/_main.scss */
#add_wrap > div {
  height: 80%;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: auto;
  padding: 30px;
  background: #88bbd6;
  box-shadow: 0 0 10px #555;
}

/* line 59, ../sass/_main.scss */
#add_wrap label {
  color: #e9e9e9;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

/* line 65, ../sass/_main.scss */
#add_wrap input, #add_wrap textarea, #add_select {
  display: block;
  width: 90%;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #e9e9e9;
  border: 3px solid #e9e9e9;
  border-radius: 1px;
  outline: none;
  background: none;
}

/* line 81, ../sass/_main.scss */
#add_wrap textarea {
  height: 100px;
  resize: none;
  font-size: 18px;
}

/* line 88, ../sass/_main.scss */
#add_submit {
  width: 80%;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  border: 3px solid #e9e9e9;
  color: #e9e9e9;
  background: #88bbd6;
}

/* line 100, ../sass/_main.scss */
#add_submit:hover {
  border: none;
  border-top: 1px solid #88bbd6;
  color: #88bbd6;
  background: #e9e9e9;
}

/* line 107, ../sass/_main.scss */
#add_exit {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 64px;
  cursor: pointer;
  color: #e9e9e9;
}

/* line 119, ../sass/_main.scss */
nav {
  height: 50px;
  width: 100%;
  display: table;
  table-layout: fixed;
  font-family: "Open Sans", sans-serif;
}

/* line 128, ../sass/_main.scss */
nav > div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #88bbd6;
  background: #4a8dac;
}

/* line 140, ../sass/_main.scss */
nav > div:hover {
  color: #e9e9e9;
  background: #88bbd6;
}

/* line 145, ../sass/_main.scss */
.nav_active {
  color: #e9e9e9;
  background: #88bbd6;
}

/* line 151, ../sass/_main.scss */
#main {
  width: 100%;
  background: #88bbd6;
}

/* line 157, ../sass/_main.scss */
#main ul li {
  height: 100px;
  padding: 20px;
  border-bottom: 1px solid #e9e9e9;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  color: #e9e9e9;
}

/* line 168, ../sass/_main.scss */
#main ul li:hover {
  background: #4a8dac;
}

/* line 172, ../sass/_main.scss */
#announcement, #meeting, #user {
  display: none;
}

/* line 177, ../sass/_main.scss */
#outer_wrap {
  min-height: 100%;
  position: relative;
  right: 0;
  transition: all 0.3s ease-out 0s;
}

/* line 185, ../sass/_main.scss */
#msg_info {
  width: 100%;
  height: 100%;
  left: 100%;
  position: fixed;
  padding: 30px;
  color: #e9e9e9;
  transition: all 0.3s ease-out 0s;
}

/* line 197, ../sass/_main.scss */
#msg_info_return {
  display: none;
}

/* line 5, ../sass/index.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 10, ../sass/index.scss */
body {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 18, ../sass/index.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 24, ../sass/index.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* line 29, ../sass/index.scss */
h1 {
  font-size: 32px;
}

/* line 33, ../sass/index.scss */
h2 {
  font-size: 24px;
}

/* line 37, ../sass/index.scss */
h3 {
  font-size: 18px;
}

/* line 41, ../sass/index.scss */
h4 {
  font-size: 15px;
}

/* line 45, ../sass/index.scss */
h5 {
  font-size: 13px;
}

/* line 49, ../sass/index.scss */
h6 {
  font-size: 10px;
}

/* line 53, ../sass/index.scss */
input, textarea, select {
  margin: 0;
  padding: 0;
}

/* line 58, ../sass/index.scss */
div, button {
  outline: none;
}
