/* line 12, ../sass/_main.scss */
#add {
  right: 30px;
  bottom: 30px;
  position: fixed;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}

/* line 23, ../sass/_main.scss */
#add_wrap {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 5px #000;
}

/* line 33, ../sass/_main.scss */
#add_wrap > div {
  position: relative;
  height: 80%;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  background: #fff;
}

/* line 43, ../sass/_main.scss */
#add_exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
  color: #ff3b3f;
}

/* line 55, ../sass/_main.scss */
nav {
  height: 50px;
  width: 100%;
  display: table;
  table-layout: fixed;
  font-family: "Open Sans", sans-serif;
}

/* line 64, ../sass/_main.scss */
nav > div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #000;
  background: #fff;
}

/* line 76, ../sass/_main.scss */
nav > div:hover {
  color: #fff;
  background: #ff3b3f;
}

/* line 81, ../sass/_main.scss */
.nav_active {
  color: #fff;
  background: #ff3b3f;
}

/* line 87, ../sass/_main.scss */
#main {
  width: 100%;
  background: #ff3b3f;
}

/* line 93, ../sass/_main.scss */
#main ul li {
  height: 100px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

/* line 102, ../sass/_main.scss */
#announcements, #meetings, #users {
  display: none;
}

/* line 5, ../sass/index.scss */
body {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 13, ../sass/index.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/index.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
