// ==== Fonts ====
$main_font: "Open Sans", sans-serif;
$side_font: "Raleway", sans-serif;

// ==== Colors ====
// Nav bar
$nav_bar: #fff;
$nav_bar_accent: #000;
$nav_hover: #ff3b3f;
$add_button: $nav_bar;
$add_button_accent: #fff;

// Main panel
$main: $nav_hover;
$main_accent: #fff;

// ==== Numbers ====
$nav_height: 50px;
$msg_height: 100px;
$msg_padding: 20px;