// ==== Fonts ====
$main_font: "Open Sans", sans-serif;
$side_font: "Raleway", sans-serif;

// ==== Colors ====
// Nav bar
$nav_bar: #4a8dac;
$nav_bar_accent: #88bbd6;
$add_button: #6e7376;
$add_button_accent: #fff;

// Main panel
$main: #88bbd6;
$main_accent: #e9e9e9;
$main_hover: #77aac5;

// Hovers
$nav_hover: $main;
$msg_hover: #5b9ebd;

// Shadows
$add_base: #555;

// Other
$error: #ff4c4c;

// ==== Numbers ====
// Heights
$nav_height: 50px;
$msg_height: 100px;
$comment_height: 75px;
$add_submit_height: 40px;
$msg_padding: 20px;
$comment_padding: 10px;
$logo_padding: 30px;
$check_box_size: 20px;

// Widths
$remove_post_width: 40px;

// Offsets
$add_offset: 50px;
$add_exit_offset: 15px;
$remove_post_offset: 10px;
$add_form_padding: 30px;
$add_input_padding: 10px;
$msg_info_padding: 30px;
$comment_spacing: 20px;

// Scaling
$tablet_scale: 0.75;
$mobile_scale: 0.50;

// Font sizes
$font1: 32px;
$font2: 24px;
$font3: 18px;
$font4: 15px;
$font5: 13px;
$font6: 10px;