// ==== Fonts ====
$main_font: "Open Sans", sans-serif;
$side_font: "Raleway", sans-serif;

// ==== Colors ====
// Nav bar
$nav_bar: #fff;
$nav_bar_accent: #000;
$nav_hover: #ee2a2e;
$add_button: #f7b733;
$add_button_accent: #fff;

// Main panel
$main: #ff3b3f;
$main_accent: #fff;

// Shadows
$add_base: #555;

// ==== Numbers ====
// Heights
$nav_height: 50px;
$msg_height: 100px;
$msg_padding: 20px;
$add_submit_height: 40px;

// Offsets
$add_offset: 50px;
$add_exit_offset: 15px;
$add_form_padding: 30px;
$add_input_padding: 10px;
$msg_info_padding: 30px;

// Font sizes
$font1: 32px;
$font2: 24px;
$font3: 18px;
$font4: 15px;
$font5: 13px;
$font6: 10px;