//
// This is CSS for the main page
//

// @media only screen and ($mobile) {
//   body {
//     background-color: $nav_bar_accent;
//   }
// }

html {
	background: $main;
}

// Add
#add {
	right: $add_offset;
	bottom: $add_offset;
	position: fixed;

	font-size: $font1 * 2;
	cursor: pointer;

	color: $add_button;
}

#add_wrap {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
}

#add_wrap > div {
	height: 80%;
	width: 80%;
	top: 50%;
  transform: translateY(-50%);
	position: relative;
	margin: auto;
	padding: $add_form_padding;

	background: $main;
	box-shadow: 0 0 10px $add_base;
}

#add_wrap label {
	color: $main_accent;
	font-size: $font2;
	font-family: $side_font;
}

#add_wrap input, #add_wrap textarea, #add_select {
	display: block;
	width: 90%;
	height: $nav_height;
	padding: $add_input_padding;
	margin-bottom: $msg_padding;

	font-size: $font2;

	color: $main_accent;
	border: 3px solid $main_accent;
	border-radius: 1px;
	outline: none;
	background: none;
}

#add_wrap textarea {
	height: $msg_height;
	resize: none;

	font-size: $font3;
}

#add_submit {
	width: 80%;
	height: $add_submit_height;

	font-size: $font2;
	cursor: pointer;

	border: 3px solid $main_accent;
	color: $main_accent;
	background: $main;
}

#add_submit:hover {
	border: none;
	border-top: 1px solid $main;
	color: $main;
	background: $main_accent;
}

#add_exit {
	position: absolute;
	top: $add_exit_offset;
	right: $add_exit_offset;
	
	font-size: $font1 * 2;
	cursor: pointer;

	color: $main_accent;
}

// Nav bar
nav {
	height: $nav_height;
	width: 100%;
	display: table;
	table-layout: fixed;

	font-family: $main_font;
}

nav > div {
	height: 100%;
	display: table-cell;
	vertical-align: middle;

	text-align: center;
	cursor: pointer;

	color: $nav_bar_accent;
	background: $nav_bar;
}

nav > div:hover {
	color: $main_accent;
	background: $nav_hover;
}

.nav_active {
	color: $main_accent;
	background: $main;
}

// Main panel
#main {
	width: 100%;

	background: $main;
}

#main ul li {
	height: $msg_height;
	padding: $msg_padding;
	border-bottom: 1px solid $main_accent;

	font-family: $side_font;

	color: $main_accent;
}

#announcement, #meeting, #user {
	display: none;
}